.form-buy form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 0 50px;
}

.form-buy input {
    width: 100%;
    font-size: 20px;
    padding: 8px;
    margin: 17px 0;
}

.form-buy label {
    background-color: white;
    position: absolute;
    right: 40px;
    margin-top: 6px;
    -webkit-box-shadow: 0px 0px 18px 7px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 18px 7px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 18px 7px rgba(255, 255, 255, 1);
}

.form-buy .slider__main_btn {
    display: flex;
    align-self: flex-end;
}

.form-buy hr.line-hr {
    margin-right: 0;
}

.form-buy a {
    color: var(--black-color-2);
}

.form-buy a:hover {
    color: var(--white-color);
}