.collection {
  background-color: var(--gray-color-2);
  color: var(--white-color);
  font-size: 62px;
  line-height: 62px;
}

.collection > div {
  display: flex;
  justify-content: space-between;
}

.collection__text {
  display: flex;
  background-color: var(--green-color);
  padding: 235px 48px 48px 48px;
  max-width: 486px;
}

.collection__text p  {
  font-weight: 600;
}

.collection__text h2  {
  font-weight: 300;
}

.collection-green .collection__text {
  background-color: var(--green-color);
}

.collection-green .collection__text > * {
  align-self: flex-end;
}

.collection__img {
  margin: -49px 0;
}

.collection .slider__main_btn a p {
  width: 34px;
  height: 27px;
  background-image: url("./img/common-btn-green-arrow2.png");
  margin-left: 14px;
}

.collection-black .collection__text {
  background-color: var(--black-color-2);
}

.collection-black .collection__text > div > * {
  align-self: flex-end;
  text-align: end;
}

@media (max-width: 1097px) {
  .collection {
    font-size: 29px;
    line-height: 29px;
  }

  .collection__text {
    padding: 91px 25px 38px 25px;
  }

  .collection__text button {
    margin-top: 14px;
  }

  .collection__img {
    max-width: 333px;
  }
}

@media (max-width: 595px) {
  .collection-green {
    background-color: var(--green-color);
  }

  .collection-black {
    background-color: var(--black-color-2);
  }

  .collection > div {
    position: relative;
  }

  .collection__img {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .collection__text {
    width: 100%;
    padding: 91px 0px 38px 0px;
  }

  .collection-black .collection__text {
    justify-content: flex-end;
  }

  .collection-black .collection__img {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .collection__img {
    margin: -122px 0;
  }
}

@media (max-width: 560px) {
  .collection__img {
    max-width: 220px;
  }
}