header {
  position: fixed;
  top: 0;
  transition: all 0.5s ease-out;
  height: 100px;
  width: 100%;
  background-color: black;
  margin-top: 0 !important;
  z-index: 5;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__section {
  margin-top: 0;
}

.navigation > li {
  font-weight: 500 !important;
}
.navigation > li > a {
  font-weight: 500 !important;
}

.header__contacts > p {
  font-weight: 400;
  font-size: 16px;
}
header .header_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .logo {
  display: flex;
  flex-direction: column;
}
header .logo_first_childe {
  font-size: 30px;
  font-weight: 600;
}
header .logo_last_childe {
  font-size: 12.5px;
  font-family: var(--font-family-open-sans);
}
header .navigation {
  display: flex;
  margin: 0 auto;
}

header {
  font-weight: 200;
}

header .navigation li {
  margin: 0 11px;
  font-size: 20px;
  cursor: pointer;
}

header .navigation li:hover {
  color: var(--green-color);
}

.menu-wrap {
  display: none;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .menu:visited,
.menu-wrap .menu:focus,
.menu-wrap .menu:hover,
.menu-wrap .menu:active {
  display: none;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0.7;
}

.menu-wrap .menu li {
  list-style: none;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem;
}

@media (max-width: 810px) {
  header .header_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  header .navigation {
    display: none;
  }
  .menu-wrap {
    display: block;
  }

  .icon-social {
    justify-content: space-around;
  }
}
