.section_store_first {
  display: flex;
}
.about_us_left {
  width: 50%;
  margin-right: 30px;
  position: relative;
}
.about_us_left h1 {
  font-size: var(--3xl-font-size);
  font-weight: 900;
  color: var(--black-color-2);
}
.about_us_left hr {
  left: 0;
  position: absolute;

  border: none;
  height: 2px;
  width: 45px;
  color: var(--green-color);
  background-color: var(--green-color);
}
.about_us_left_p1 {
  margin: 36px 0 31px 0;
  font-size: 20px;
  font-weight: 600;
  color: #161616;
  line-height: 30px;
}
.about_us_left_p2 {
  margin: 0 0 36px 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color-2);
  line-height: 30px;
  font-family: var(--font-family-open-sans);
}

.about_us_left span {
  color: black;
}

.about_us_right img:hoover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 1100px) {
  .about_us_left h1 {
    font-size: 24px;
  }
  .about_us_left_p1 {
    margin: 25px 0 20px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .about_us_left_p2 {
    margin: 0 0 25px 0;
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 900px) {
  .section_store_first {
    display: block;
  }
  .about_us_left {
    width: 100%;
    margin-right: 30px;
    position: relative;
  }
  .about_us_right {
    margin: 10px auto;
  }
}
@media (max-width: 500px) {
  .about_us_left h1 {
    font-size: 22px;
  }
  .about_us_left_p1 {
    margin: 15px 0 10px 0;
    font-size: 15px;
    line-height: 22px;
  }
  .about_us_left_p2 {
    margin: 0 0 15px 0;
    line-height: 22px;
  }
}
