.footer {
  background-color: var(--gray-color-2);
}

.footer .section__container {
  display: flex;
  justify-content: space-between;
}

.footer .footer__left_section {
  display: flex;
  flex-direction: column;
}

.footer .footer__left_section > * {
  display: inline-table;
}

.footer .footer__left_section h2 {
  font-size: 62px;
  font-weight: 600;
}

.footer .footer__contacts {
  background-color: var(--green-color);
  padding: 235px 48px 48px 48px;
}

.footer .footer__contacts {
  color: var(--white-color);
}

.footer .footer__contacts p{
  font-weight: 300;
  font-size: 19px;
  padding-bottom: 8px;
}

.footer__contacts p.footer__left_p_number {
  font-size: 20px;
  font-weight: 400;
}

.footer .footer__contacts hr {
  background-color: var(--white-color);
}

.footer__form {
  padding: 48px 0 0px 43px;
}

.copyright {
  color: var(--white-color);
  height: 77px;
  background-color: var(--black-color-2);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.fs62 {
  padding-bottom: 5px!important;
}

.copyright > * {
  padding: 1px 5px;
}

.copyright p {
  font-weight: 500;
}

section.footer__map {
  padding: 16px 0 0;
}

.footer__navigation .section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__name {
  font-size: 21px;
  font-weight: 600;
  line-height: 19px;
}

.footer__about {
  ont-size: 9px;
}

.footer__navigation {
  margin: 23px 0 0px;
  background-color: var(--black-color-2);
  color: var(--white-color);
}

.footer__navigation span {
  transition: all 0.5s ease;
}

.footer__navigation span:hover {
  background-color: var(--gray-color-1);
}

.footer__anchors {
  background-color: var(--black-color-2);
  display: flex;
  height: 38px;
  text-transform: uppercase;
  line-height: 36px;
}

.footer__anchors a {
  padding: 0 10px;
  display: inline-block;
}

@media (max-width: 1600px) {
  .footer__navigation {
    padding: 4px 25px 0;
  }
}

@media (max-width: 1276px) {
  .footer__form {
    padding: 48px;
    border-top: 19px solid white;
  }
}

@media (max-width: 953px) {
  .footer__form {
    padding: 48px 0 18px;
  }
}


@media (max-width: 917px) {
  .footer .footer__contacts {
    padding: 95px 48px 48px 48px;
  }
}

@media (max-width: 800px) {
  .footer__anchors {
    display: none;
  }
}

@media (max-width: 507px) {
  .footer .footer__left_section .fs62 {
    font-size: 41px;
    line-height: 41px;
    margin-bottom: 10px;
  }

  .footer__contacts p.footer__left_p_number {
    font-size: 31px;
    font-weight: 300;
  }

  .footer .footer__contacts {
    padding: 13px;
  }

  .copyright {
    flex-direction: column;
  }
}