/*reset.css*/

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*reset.css*/

/* variables */

:root {
  /* font family */
  --font-family-jost: "Jost", sans-serif;
  --font-family-open-sans: "Open Sans", sans-serif;

  /* font sizes */
  --xs-font-size: 14px;
  --s-font-size: 15px;
  --m-font-size: 16px;
  --l-font-size: 17px;
  --xl-font-size: 18px;
  --2xl-font-size: 25px;
  --3xl-font-size: 45px;
  --4xl-font-size: 62px;
  --5xl-font-size: 70px;

  /* colors */
  --black-color-1: #212121;
  --black-color-2: #191514;
  --gray-color-1: #777777;
  --gray-color-2: #f4f4f4;
  --gray-color-3: #979797;
  --gray-transparent-color: rgba(255, 255, 255, 0.3);
  --green-color: #1db954;
  --white-color: #ffffff;
  --yellow-color: #f9cf3b;
  --red-color: #f37779;
}

/* variables */

/*styles*/

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  display: block;
  font-family: var(--font-family-jost);
  font-size: var(--m-font-size);
  color: var(--black-color-1);
}

#root > * {
  width: 100%;
  margin-top: 120px;
}

#root > * > * {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

/*@media (max-width: 440px) {*/
/*  :root {*/
/*    --main-size: 16px;*/
/*    --section-title-size: 36px;*/
/*    --service-title-size: 24px;*/
/*  }*/
/*}*/

/*styles*/
