.section_popular h2 {
  font-size: var(--3xl-font-size);
  font-weight: 900;
  color: var(--black-color-1);

  padding-left: 22px;
  border-left: 3px solid green;
}
.main_section_popular .slider__main_btn {
  text-align: center;
  margin-top: 80px;
}
.main_section_popular .slider__main_btn span {
  color: var(--black-color-1);
}
.popular_cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
