.carousel_section .section__container {
  display: flex;
  justify-content: space-between;
}
.left_section {
  position: relative;

  /* margin-top: 2% !important; */
}
.left_section h2 {
  font-size: var(--3xl-font-size);
  font-weight: 900;
  color: var(--black-color-1);
  margin-top: 5%;
}

.left_section hr {
  left: 0;
  position: absolute;

  border: none;
  height: 2px;
  width: 45px;
  color: var(--green-color);
  background-color: var(--green-color);
}
.left_section p {
  font-weight: 400;
  font-size: var(--s-font-size);
  color: var(--gray-color-1);
  line-height: 180%;
  margin-top: 10%;
  max-width: 250px;
}
.prev_btn,
.next_btn {
  margin-top: 15%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 5%;
  background-color: var(--green-color);
  border-style: none;
}
.prev_btn img,
.next_btn img {
  margin: 0 auto;
}
.right_section {
  width: 77% !important;
  margin: 15px;
  overflow-x: scroll;
}

.right_section::-webkit-scrollbar {
  width: 0px;
}
.carousel_content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}
.card {
  height: 420px;
  width: 275px;
}
.card_img {
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
  padding: 38px 28px;
  margin-bottom: 20px;
  height: 370px;
}
.card_img img {
  position: absolute;
}
.card_img:hover .hover_img {
  opacity: 1;
  width: 100%;
  top: 20px;
  left: 0;
  max-width: 100%;
}
.hover_img {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  top: -89px;
  left: -124px;
  width: 600px;
  max-width: 600px;
}
.img_static {
  width: 100%;
  top: 20px;
  left: 0;
}

.card span {
  font-size: 17px;
  font-weight: 700;
  color: var(--black-color-1);
}

/* @media (max-width: 1450px) {
  .card:nth-child(4) {
    display: none;
  }
}
@media (max-width: 1100px) {
  .card:nth-child(3) {
    display: none;
  }
} */
@media (max-width: 810px) {
  .carousel_section .section__container {
    display: block;
    margin: 0 auto;
    max-width: 582px;
  }
  .left_section p {
    margin-top: 15px;
    max-width: none;
  }

  .prev_btn,
  .next_btn {
    margin-top: 15px;

    margin-left: 5px;
  }
  .right_section {
    margin: 20px 0 0 0;
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  /* .card:nth-child(2) {
    display: none;
  } */
  .carousel_section .section__container {
    max-width: 100%;
  }
  .right_section {
    display: flex;
    align-items: center;
    margin: 30px auto;
  }
}
