.icon-social {
    display: flex;
    justify-content: flex-end;
}

.icon-social a {
    display: inline-block;
    height: 28px;
    width: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 5px 5px;
}

.icon-social__whatsapp {
    background-image: url("./img/whatsapp.png");
}

.icon-social__telegramm {
    background-image: url("./img/telegram.png");
}